<div class="top">
  <h1>My Tournaments</h1>
  <%= link_to 'Add Tournaments', tournaments_path, class:'add-tournament-btn', data: { turbolinks: false }  %>
</div>
<div class="filters">
  <%= link_to 'All', earnings_path, class: "#{'active' if !params[:only_past_earnings]} filter-btn" %>
  <%= link_to 'Past', earnings_path(only_past_earnings: true), class: "#{'active' if params[:only_past_earnings] == 'true'} filter-btn ml-3"  %>
  <%= link_to 'Next', earnings_path(only_past_earnings: false), class: "#{'active' if params[:only_past_earnings] == 'false'} filter-btn ml-3"  %>
</div>

<% @earnings.each do |earning| %>
  <% if earning.tournament != nil %>
    <div class="earning-container">
      <div class="my-tournament-card" data-img-url="<%= cl_image_path earning.tournament.photo.key%>" style="background-image: linear-gradient(153deg, rgba(3,56,96,1) 0%, rgba(5,80,136,0.8057598039215687) 50%, rgba(20,101,163,0.8169642857142857) 100%), url('<%= cl_image_path earning.tournament.photo.key%>');" >
        <div class="text">
          <h1><%= earning.tournament.name %></h1>
          <h2 class="animate-text"><%= earning.tournament.address %></h2>
          <h2 class="animate-text"><%= earning.tournament.start_date.strftime("Start on %A %B %d %Y") %></h2>
        </div>
      </div>
      <div class="earning-status">
        <% if earning.tournament.end_date < Date.today %>
          <%= link_to earning_path(earning), class:'validate' do  %>
            <p><%= earning.tournament.name%> is finished since <%= earning.tournament.end_date.strftime("%d/%m/%Y")%>. <br>Please <strong>validate your result</strong> in order to calculate associated earning!</p>
            <i class="fas fa-arrow-right"></i>
          <% end %>
        <% else %>
          <p class='waiting'><em><%= earning.tournament.name%> will finish on <%= earning.tournament.end_date.strftime("%d/%m/%Y")%>. Wait until this date to validate your result</em></p>
          <p>Forecasted prize money: $<%= number_with_delimiter(earning.forecast_amount, :delimiter => ',') %></p>
        <% end %>
      </div>
    </div>
  <hr>
  <% end %>
<% end %>

