<div class="top">
  <h1>My Earnings</h1>
  <%= link_to 'Add fixed earning', new_earning_path, class:'add-tournament-btn'  %>
</div>
<div class="filters">
  <%= link_to 'All', earnings_path, class:'filter-btn'  %>
  <%= link_to 'Past', earnings_path(only_past_earnings: true), class:'filter-btn ml-3'  %>
  <%= link_to 'Future', earnings_path(only_past_earnings: false), class:'filter-btn ml-3'  %>
</div>

<% @earnings.each do |earning| %>
  <% if earning.tournament != nil %>
    <div class="earning-container">
      <div class="tournament-card" data-img-url="<%= cl_image_path earning.tournament.photo.key%>" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= cl_image_path earning.tournament.photo.key%>');" >
        <div class="text">
          <h1><%= earning.tournament.name %></h1>
          <h2 class="animate-text"><%= earning.tournament.address %></h2>
          <p class="animate-text"><%= earning.tournament.start_date.strftime("Start on %A %B %d %Y") %></p>
        </div>
      </div>
      <div class="earning-status">
        <% if earning.tournament.end_date < Date.today %>
          <%= link_to edit_earning_path(earning), class:'validate' do  %>
            <p><%= earning.tournament.name%> is finished since <%= earning.tournament.end_date.strftime("%d/%m/%Y")%>. <br>Please <strong>validate your result</strong> in order to calculate associated earning!</p>
            <i class="fas fa-arrow-right"></i>
          <% end %>
        <% else %>
          <p class='waiting'><em><%= earning.tournament.name%> will finish on <%= earning.tournament.end_date.strftime("%d/%m/%Y")%>. Wait until this date to validate your result</em></p>
        <% end %>
      </div>
    </div>
  <hr>
  <% end %>
<% end %>

