<div class="text-center m-4">
    <h1>Add a new earning</h1>
  </div>
  <%= simple_form_for(@earning) do |f| %>
  <%= f.input :date %>
  <%= f.input :forecast_amount %>
  <%= f.input :title %>
  <%= f.input :category %>
  <%= f.submit "Add earning", class: "btn btn-primary" %>
  <% end %>
