<div class="text-center m-4">
    <h1>Add a fixed earning</h1>
  </div>
  <%= simple_form_for(@earning) do |f| %>
  <%= f.input :date %>
  <%= f.input :real_amount, label: "Amount", placeholder: "122" %>
  <%= f.input :title, label: "Description", placeholder: "Sponsoring Lacoste" %>
  <%= f.input :category, collection: Earning::CATEGORY %>
  <%= f.submit "Add earning", class: "btn btn-primary" %>
  <% end %>
