  <div class="text-center m-4">
    <h1>Show earning</h1>
  </div>
  <h2><%= @earning.date %></h2>
  <h2><%= @earning.forecast_amount %></h2>
  <h2><%= @earning.title %></h2>
  <h2><%= @earning.category %></h2>

<%= link_to "Back to list of fixed earnings", earnings_path %>