<% if @earning.tournament.finished? && @earning.collected?   %>
  <%= link_to earnings_path do %>
  <i class="fas fa-history fa-history-mobile"></i> Back to my tournaments
  <% end %>
<% elsif @earning.tournament.finished? %>
  <%= link_to earnings_path(only_past_earnings: true) do %>
  <i class="fas fa-history fa-history-mobile"></i> Back to my tournaments
  <% end %>
<% else %>
  <%= link_to earnings_path(only_past_earnings: false) do %>
  <i class="fas fa-history fa-history-mobile"></i> Back to my tournaments
  <% end %>
<% end %>


<h1 class='tournament-name-mobile mb-3'>Manage budget for <strong><%= @tournament.name %></strong></h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link <%= "active" unless params[:validate] %>" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary" aria-selected="true">Summary</a>
  </li>
  <% if Date.today < @earning.tournament.start_date %>
    <li class="nav-item">
      <a class="nav-link" id="expense-tab" data-toggle="tab" href="#expense" role="tab" aria-controls="expense" aria-selected="false">Add Expense</a>
    </li>
  <% end %>
  <% if (Date.today > @earning.tournament.end_date) && (@earning.real_amount == 0)  %>
    <li class="nav-item">
      <a class="nav-link <%= "active" if params[:validate] %>" id="earning-tab" data-toggle="tab" href="#earning" role="tab" aria-controls="earning" aria-selected="false">Validate Earning</a>
    </li>
  <% end %>
</ul>
<br>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade <%= "active show" unless params[:validate] %>" id="summary" role="tabpanel" aria-labelledby="summary-tab">
    <div class="container">
      <div class="main-timeline">
        <div class="timeline">
            <div class="timeline-content left">
              <span class="timeline-icon"></span>
              <div class="mb-1">
                <span class="date"><%= @tournament.end_date.strftime("%b %d, %Y") %></span>
                <h3 class="title"><%= @tournament.name.capitalize %></h3>
              </div>
                <p class="gain-money mb-3"><span class="badge badge-success"><i class="far fa-money-bill-alt"></i> Earning</span></p>
          <% if @earning.real_amount == 0 %>
                <div class="forecast-money mb-0">
                  <p>Forecasted amount <i class="fas fa-hourglass-start"></i></p>
                  <h3>$<%= number_with_delimiter(@earning.forecast_amount, :delimiter => ',') %></h3>
                </div>
          <% else %>
                <div class="descritpion gain-money mb-0">
                  <p>Gainings <i class="fas fa-money-check"></i></p>
                  <h3>$<%= number_with_delimiter(@earning.real_amount, :delimiter => ',') %></h3>
                </div>
          <% end %>
            </div>
        </div>
        <% @tournament.expenses.order(:created_at).each_with_index do |expense, index| %>
          <div class="timeline">
            <div class="timeline-content <%= index.odd? ? 'left' : 'right' %>" >
              <span class="timeline-icon"></span>
              <div class="mb-2">
                <span class="date"><%= expense.created_at.strftime("%b %d, %Y") %></span>
                <h3 class="title"><%= expense.title.capitalize %></h3>
              </div>
              <p class="loose-money mb-3"><span class="badge badge-danger"><i class="fas fa-receipt"></i>Expense</span></p>
              <% if expense.category == "Flight" %>
                <p class="loose-money"><i class="fas fa-plane-departure"></i> <%= expense.category %></p>
              <% elsif expense.category == "Hotel" %>
                <p class="loose-money"><i class="fas fa-hotel"></i> <%= expense.category %></p>
              <% else %>
                <p class="loose-money"><i class="fas fa-tag"></i> <%= expense.category %></p>
              <% end %>
              <h3 class="loose-money"> $<%= number_with_delimiter(expense.amount, :delimiter => ',') %></h3>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="expense" role="tabpanel" aria-labelledby="expense-tab">
    <div class="hotel-plane-responsive d-flex justify-content-between">
      <div class="suggestions">
        <h5>Hotels suggestions</h5>
        <p><em>Best offers around the stadium (3km)</em></p>
        <hr>
        <div class="display-map mt-4">
          <div
          id="map"
          class="container-map"
          data-marker="<%= @marker.to_json %>"
          data-duration="<%= (@tournament.end_date - @tournament.start_date).to_i %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          data-amadeus-id="<%= ENV['AMADEUS_ID'] %>"
          data-amadeus-secret="<%= ENV['AMADEUS_SECRET'] %>"
          >
          <div class="overlay">
             <div class="overlay__inner">
                <div class="overlay__content">
                  <%= image_tag "house.gif", alt: "alttext" %>
                  <h4 class="text-blue">Waiting for hotel offers...</h4>
                </div>
             </div>
          </div>
          </div>
        </div>
        <h5 class="mt-5">Flights suggestions</h5>
        <p><em>Best offers from <strong>Paris</strong> to <strong><%= @tournament.address.split(',').first%></strong> according to tournament dates</em></p>
        <hr>
        <div
          id="flights"
          data-flight="<%= @flight.to_json %>"
          data-amadeus-id="<%= ENV['AMADEUS_ID'] %>"
          data-amadeus-secret="<%= ENV['AMADEUS_SECRET'] %>"
          >
        </div>
        <div id="flights_results">

        </div>
      </div>

      <div class="card-expense p-3" id="expense-booking-form" data-controller="expense-form">
        <div class="title-card">
            <h5 class="mt-2 mb-3"><strong>Add new expenses</strong></h5>
            <i class="fas fa-shopping-cart"></i>
        </div>
          <%= simple_form_for current_user,
            url: earning_create_multiple_expenses_path(@earning),
            html: {data: {action: 'submit->expense-form#handleSubmit'} } do |f| %>
            <!-- Hide this -->

            <div data-target="expense-form.fields">
              <%= render 'shared/expense_fields', f: f, type: 'Hotel' %>
            </div>
            <div data-target="expense-form.fields">
              <%= render 'shared/expense_fields', f: f, type: 'Flight' %>
            </div>
            <!-- Insert cart here -->
            <div id="hotel-card"></div>
            <div id="flight-card"></div>
            <%= f.submit "Add expenses", class: "add-tournament-btn", id: 'expense-card' %>
          <% end %>
      </div>
    </div>
  </div>


  <div class="tab-pane fade <%= "active show" if params[:validate] %>" id="earning" role="tabpanel" aria-labelledby="earning-tab">
    <div class="col-12 col-sm-6 offset-sm-3 validate-earning-responsive">
      <div class="form-post forecasted-mobile mt-0">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="text-center mb-3">Your forecasted results:</h4>
            <h4 class="text-center"><i class="fas fa-trophy"></i> <%= @earning.forecast_ranking %></h4>
            <h4 class="text-center"><i class="fas fa-funnel-dollar"></i> $<%= number_with_delimiter(@earning.forecast_amount, :delimiter => ',') %></h4>
            <hr class="my-4">
            <h3 class="mb-3">Final tournament earning: </h3>
            <%= render "/shared/earning_form", earning: @earning %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>









