<h1 class="add-a-tournament-title">Add a tournament</h1>
<div class="filters responsive-filters">
  <%= link_to 'First Quarter', tournaments_path(:first_trimester), class: "#{'active' if params[:format] == "first_trimester"} filter-btn" %>
  <%= link_to 'Second Quarter', tournaments_path(:second_trimester), class: "#{'active' if params[:format] == "second_trimester"} filter-btn ml-3"  %>
  <%= link_to 'Third Quarter', tournaments_path(:third_trimester), class: "#{'active' if params[:format] == "third_trimester"} filter-btn ml-3"  %>
  <%= link_to 'Fourth Quarter', tournaments_path(:fourth_trimester), class: "#{'active' if params[:format] == "fourth_trimester"} filter-btn ml-3"  %>
</div>
<div class="card-container mt-3">
     <% @tournaments.each do |tournament| %>
       <%= link_to tournament_path(tournament), data: { turbolinks: false } do %>
          <div class="tournament-card" data-img-url="<%= cl_image_path tournament.photo.key%>" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= cl_image_path tournament.photo.key%>')">
            <div class="text">
              <h1><%= tournament.name %></h1>
              <h2 class="animate-text"><%= tournament.address %></h2>
              <p class="animate-text"><%= tournament.start_date.strftime("Starts on %A %B %d, %Y") %></p>
            </div>
         </div>
       <% end %>
    <% end %>
</div>

<script></script>
<!-- surement à retirer quand il y aura du JS -->
