
<div class="container">
  <%= link_to tournaments_path, method: :get  do %>
    <i class="fas fa-history"></i> Back to tournaments
  <% end %>
  <hr>
  <div class="banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= cl_image_path @tournament.photo.key%>');" >
    <div class="container-banner d-flex flex-column text-left">
      <div class="my-4">
        <h1><%= @tournament.name %></h1>
      </div>
      <div class="ml-4">
        <h5 class="mb-3"><i class="fas fa-money-bill-wave"></i> <%= @tournament.total_prize_money %></h5>
        <h5 class="mb-3"><i class="fas fa-globe-europe"></i> <%= @tournament.address %></h5>
        <h5><i class="fas fa-calendar-alt"></i> <%= @tournament.start_date.strftime("%A %B %d") %> to <%= @tournament.end_date.strftime("%A %B %d") %></h5>
      </div>
        <%= link_to "Official website", @tournament.official_link, target: "_blank", class:"tournament-btn-secondary" %>
    </div>
  </div>

  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="container col-7">
        <div class="show-tournament-card">
          <h5><em>Descritption</em></h5>
          <hr>
          <p><%= @tournament.description %></p>
        </div>
        <div class="show-tournament-card">
          <h5><em>Prize money by round:</em></h5>
          <hr>
          <div class="row justify-content-center">
            <% data = JSON.parse(@tournament.data) %>
            <% data.keys.each do |element| %>
              <div class="col-5 m-1 border">
                <p><strong><%= element %></strong></p>
                <p><em>ATP Points: </em><%= data[element].values[0] %></p>
                <p><em>Prize Money: </em><%= data[element].values[1] %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="container col-5">
        <div class="show-tournament-card sticky-top">
          <h1>Round selection</h1>
          <%= simple_form_for([@tournament, Earning.new]) do |f| %>
            <%= f.input :forecast_amount, label: "What will be your forcasted prize money?", placeholder: "Forcesated prize money" %>
            <%= f.submit "Add tournament", class: "add-tournament-btn", method: :post  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <script> </script>
</div>
