
<div class="container">
  <%= link_to tournaments_path, method: :get  do %>
    <i class="fas fa-history"></i> Back to tournaments
  <% end %>
  <hr>
  <div class="banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= cl_image_path @tournament.photo.key%>');" >
    <div class="container-banner d-flex flex-column text-left">
      <div class="my-4">
        <h1><%= @tournament.name %></h1>
      </div>
      <div class="ml-4">
        <h5 class="mb-3"><i class="fas fa-money-bill-wave"></i> <%= @tournament.total_prize_money %></h5>
        <h5 class="mb-3"><i class="fas fa-globe-europe"></i> <%= @tournament.address %></h5>
        <h5><i class="fas fa-calendar-alt"></i> <%= @tournament.start_date.strftime("%A %B %d") %> to <%= @tournament.end_date.strftime("%A %B %d") %></h5>
      </div>
        <%= link_to "Add tournament" ,my_tournaments_path(tournament: @tournament), class:"add-tournament-btn", method: :post %>
    </div>
  </div>

  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="container col-7">
        <h5><em>Descritption</em></h5>
        <hr>
        <div class="show-tournament-card">
          <p><%= @tournament.description %></p>
        </div>
          <div class="show-tournament-card">
              <h1>Round selection</h1>
              <% data = JSON.parse(@tournament.data) %>
              <%= simple_form_for([@tournament, Earning.new]) do |f| %>

                  <%= f.input :forecast_amount, label: "What will be your forcasted prize money?", placeholder: "Input the prize money associated result you are aiming" %>
                <%= f.submit "Add tournament", class: "btn btn-primary", method: :post  %>
              <% end %>
          </div>
      </div>
      <div class="container col-4">
        <div class="show-tournament-card">

          <% data.keys.each do |element| %>
            <p><strong><%= element %></strong></p>
            <p>ATP Points: <%= data[element].values[0] %></p>
            <p>Individual Prize Money: <%= data[element].values[1] %></p>
          <% end %>

        </div>
      </div>
    </div>
  </div>
  <script> </script>
</div>
