<div class="container-image"
style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1528336717-cd5251338d28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">

  <div class="row no-gutters">
    <div class="col-xs-12 col-sm-6 offset-sm-3">
      <div class="form-post">
        <h1>Add a fixed expense</h1>
        <%= simple_form_for(@expense) do |f| %>

        <div class="row">
          <div class="col-sm-12">
            <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.input :amount, label: "What was the amount of your expense?", placeholder: "Enter amount" %>
            <%= f.input :category, label: "Nature of your expense", collection: Expense::CATEGORY %>
            <%= f.input :title, label: "Description", placeholder: "Please briefly describe your expense" %>
          </div>

        </div>
          <%= f.submit "Add expense", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
